.container {
  background: whitesmoke;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover; /* Resimlerin en boy oranını koruyarak alanı kaplar */
  margin: 0 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #ccc;
  color: #333;
  font-size: 18px;
  margin: 0 10px;
}

.btn:hover {
  background-color: #bbb;
}

.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
